<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet"  href="<%= assetFingerprint('stylesheets/styles.css') %>" />
    <title>Personal folio</title>
  </head>
  <body>
    <div class="page">
      <header class="header">
        <div class="container header-inner">
          <div class="header-title">webdeveloper</div>

          <img src="images/code.png" alt="" />

          <nav class="header-nav">
            <ul>
              <li><a href="/">home</a></li>
              <li><a href="/blog">blog</a></li>
              <li><a href="/contacts">contacts</a></li>
            </ul>
          </nav>
        </div>
      </header>
